html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(190, 239, 255);
    color: #333;
}

body.clear {
    background: linear-gradient(135deg, #9fdef6 0%, #78b2e2 100%);
}
body.clouds {
    background: linear-gradient(135deg, #D3D3D3 0%, #948f8f 100%);
}
body.rain {
    background: linear-gradient(135deg, #4A90E2 0%, #1C3F66 100%);
}
body.drizzle {
    background: linear-gradient(135deg, #B0C4DE 0%, #78909C 100%);
}
body.thunderstorm {
    background: linear-gradient(135deg, #2C3E50 0%, #4C5C68 100%);
}
body.snow {
    background-color: #ECF0F1;
}
body.mist, body.haze, body.fog {
    background: linear-gradient(135deg, #CFD8DC 0%, #90A4AE 100%);
}
body.smoke, body.dust, body.ash {
    background: linear-gradient(135deg, #6E6E6E 0%, #3B3B3B 100%);
}
body.sand {
    background: linear-gradient(135deg, #F4E2B8 0%, #DCC48E 100%);
}
body.squall {
    background: linear-gradient(135deg, #34495E 0%, #2C3E50 100%);
}
body.tornado {
    background: linear-gradient(135deg, #6C3483 0%, #2C3E50 100%);
}

.input_info{
    background-color: rgba(255, 255, 255, 0.6);
    width: 40rem;
    height: auto;
    text-align: center;
    padding-block: 1rem;
    margin: 0 auto;
    border-radius: 10px;
}

input{
    border-radius: 10px;
    padding-inline: .5rem;
    width:8rem;
    height:1.1rem;
}
button{
    background-color: rgba(255, 255, 255, 0.746);
    border-radius: 10px;
    padding: .3rem;
}

#weather{
    font-size: 3rem;
}
.weather_info div,
.weather_info p{
    margin: 0;
    font-weight: bold;
    
}

#user_location{
    font-size: 1.3rem;
}
/* .weather_details{
    font-weight: bold;
} */