{% extends "base.html" %}

{% block content %}
<div class = "about-card">
    <h2 id = "about-title">About WeatherWag</h2>
    <p>
        Hello, I'm Nayeli, the creator of WeatherWag. I built this app to make life a little easier for dog owners like myself. We all want the best for our pets,
        but unpredictable weather can make daily walks challenging, that's where this app comes in.
    </p>
    <p>
        WeatherWag helps you check the weather quickly and plan safe, comfortable walks for your dog. It shows you a color coded message that lets you know whether the conditions outside are 
        comfortable for your dog to walk in or if it's better to wait it out with some indoor play and extra treats.
    <p>
        I'm always learning and improving, and I plan to keep updating WeatherWag with new features that dog lovers will find helpful. Thanks for visitng and giving it a try.
        I hope it helps you and your dog enjoy more safe and happy adventures together. 
    </p>
</div>
{% endblock %}