{% extends "base.html" %}
{% block content %}
    <div class = "card">
        <!-- <div class = "card-title">     
            <img class = "main-dog"src="/static/img/dog_4.png">   
            <h1 id = "weather-fetch">WeatherWag</h1>
            <img class = "main-dog" id = "main-pup" src="/static/img/main_pup.png"/>
        </div> -->
        <!-- <p id = "phrase">Where Weather and Dog Care Wag Together</p> -->
        <!-- <p>The best walk is a safe walk</p> -->
        <form class = "mobile-form" method="POST" action="/">
            <div class = "mobile-user-input">
                <input type = "hidden" name = "timezone" id = "timezoneInputMobile"/>
                <input type = "text" id ="cityMobile" name = "city" placeholder="Enter City" required/>
    
                <!-- <input type = "text" id = "state" name = "state" placeholder="Enter State" required> -->
                <select name = "states" required>
                    <option value ="">Select State</option>
                    {% for key, value in states.items() %} 
                        <option value ="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Submit</button>
            </div>
        </form>
            {% if error %}
        <p id="error">{{error}}</p>
    {% endif %}

        {% if weather %}
        <div class = "dog-message-section">

                {% if dog['color_message'] == "dark-red" or dog['color_message'] == "red" %}
                    <img id = "dog_3" src="/static/img/dog_3.png"/>
                {% else%}
                    <img id = "dog_1" src="/static/img/dog_1.png"/>
                {% endif %}

            <p id = "{{dog['color_message']}}">{{dog["dog_warning"]}}</p>

                {% if dog['color_message'] == "dark-red" or dog['color_message'] == "red" %}
                    <img id = "dog_4" src="/static/img/dog_4.png"/>
                {% else%}
                    <img id = "dog_2" src="/static/img/dog_2.png"/>
                {% endif %}

        </div>
        <div class = "weather-section">
            <div class = "card-section">
                <p id="user_city">{{weather["city"]}} {{state}}, US</p>
                <p>Last updated: {{weather["time"]}}</p>
                <img src="https://openweathermap.org/img/wn/{{ weather['icon'] }}@2x.png" alt="Weather Image"/>
                <p id = "temp">{{weather["temperature"]}}°</p>
                <p>Feels like {{weather["feels_temp"]}}°</p>
                <p>Humidity: {{weather["humidity"]}}%</p>
            </div>
            <div id = "weather-details" class = "card-section">
                <h3>Weather Details</h3>
                <p><b>Mainly:</b> {{weather["condition"]}}</p>
                <p><b>Description:</b> {{weather["description"]}}</p>
                <p><b>Wind:</b> {{weather["wind"]}}mph</p>
                <p><b>Wind Gust:</b> {{weather["wind_gust"]}}mph</p>
                <p><b>Sunrise:</b> {{weather["sunrise"]}}</p>
                <p><b>Sunset:</b> {{weather["sunset"]}}</p>
            </div>
            <div class = "card-section">
                <h3>Safety Dog Tip</h3>
                <p>{{dog['dog_tip_message'] | safe}}</p>
            </div>

        </div>
        <div class = "product-card">
            <div class = "product-section">
                <h3>Product Suggestions</h3>
                    <p id = "disclaimer">
                        As an Amazon Associate, I earn from qualifying purchases made through links on this site at no extra cost to you.
                    </p>
                    <br>
                <button id = "pre_btn" class = "product-button-left"><i class="bi bi-arrow-left"></i></button>
<p id="product_name"></p>
                <div class = "product-images">
                    
                    <a id="product_link" href="" target="_blank" rel="noopener">
                        <img id="product_image" src="" alt="Product Image" />
                    </a>
                </div>
                <button id = "next_btn" class = "product-button-right"><i class="bi bi-arrow-right"></i></button>
            </div>
        </div> 
    <div class = "gemini-card">
        <form id = "chat-form">
            <h3>Ask WagBot</h3>
            <div class = "gemini-section">
            <input id = "question" name = "question" placeholder="Is it safe for my dog's paws today?"/>
            <button type = "submit">Submit</button>
            </div>
        </form>
        <p id = "chat-answer"></p>
    </div>
    {% endif %}
    <div class = "map-title">
        <h3 id = "title-places">Dog Friendly Parks in the Area</h3>
        <select id = "places" class = "dog-places">
            <option value = "friendly_parks">Dog friendly parks</option>
            <option value = "dog_parks">Dog parks</option>
            <option value = "trails">Dog friendly trails</option>
        </select>
    </div>
    
    <div id="map"> 

    </div>
    </div>
    <!-- <div class = "feedback">
        <button id = "feedback">Feedback</button>
    </div> -->
<script>
    const chat_form = document.getElementById("chat-form")
    const chat_answer = document.getElementById("chat-answer")

    chat_form.addEventListener("submit", async(e)=>{
        e.preventDefault();
        const question = document.getElementById("question").value;
        const weather_data = {
            state: "{{state}}",
            city: "{{weather['city']}}",
            country: "US",
            temp: "{{weather['temperature']}}°F",
            feel_temp: "{{weather['feels_temp']}}°F",
            humidity: "{{weather['humidity']}}%",
            condition: "{{weather['condition']}}",
            desc: "{{weather['description']}}",
            wind: "{{weather['wind']}}mph",
            wind_gust: "{{weather['wind_gust']}}mph"
        };
        try{
            const response = await fetch("/chat", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ weather: weather_data, question}),
        });
        if(!response.ok){
            throw new Error("Network resonse was not ok");
        }
        const data = await response.json();
        document.getElementById("chat-answer").textContent = data.chat_answer;
        } catch (error) {
            console.error("Error:", error);
            document.getElementById("chat-answer").textContent = "Sorry, something went wrong.";
        }
    });

</script>
<script id="products-data" type="application/json">
  {{ product_recom | tojson | safe }}
</script>

<script>
    const productsScript = document.getElementById('products-data').textContent;
    const products = JSON.parse(productsScript);

    const first_product_name = document.getElementById('first_product_name');
    const first_product_image = document.getElementById('first_product_image');
    const first_product_link = document.getElementById('first_product_link');

    const sec_product_name = document.getElementById('sec_product_name');
    const sec_product_image = document.getElementById('sec_product_image');
    const sec_product_link = document.getElementById('sec_product_link');

    const next_btn = document.getElementById('next_btn');
    const pre_btn = document.getElementById('pre_btn')


    let current_index = 0    

    function show_product(index) {
        const first_product = products[index];
        // const sec_product = products[second_index];
        product_name.textContent = first_product.name;
        product_image.src = first_product.image_url || '/static/img/placeholder.png';
        product_link.href = first_product.affiliate_url;

        // sec_product_name.textContent = sec_product.name;
        // sec_product_image.src = sec_product.image_url || '/static/img/placeholder.png';
        // sec_product_link.href = sec_product.affiliate_url;
    }
    show_product(current_index);

    next_btn.addEventListener('click', () => {
      current_index = (current_index + 1) % products.length; 
    //   second_index = (current_index + 1) % products.length; 
      show_product(current_index);
    });
    pre_btn.addEventListener('click', () => {
      current_index = (current_index - 1 + products.length) % products.length; 
    //   second_index = (current_index - 1 + products.length) % products.length; 
      show_product(current_index);
    });


  lucide.createIcons();
</script>
<script>

    document.addEventListener("DOMContentLoaded", function () {
    const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
    const timezoneDesktop = document.getElementById("timezoneInputDesktop");
    const timezoneMobile = document.getElementById("timezoneInputMobile");

    if (timezoneDesktop) timezoneDesktop.value = timezone;
    if (timezoneMobile) timezoneMobile.value = timezone;
  });
</script>

<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "{{GOOGLE_API_KEY}}",
    v: "weekly",
//     Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
//     Add other bootstrap parameters as needed, using camel case.
  });
</script>
<script>
    let map;
    let lat = parseFloat("{{location['lat']}}")
    let lng = parseFloat("{{location['lon']}}")
    const places = document.getElementById("places");
    const title_places = document.getElementById("title-places");
    let option;
    let place_chosen;

    // Default values
    place_chosen = "dog friendly parks"
    title_places.innerHTML = "Dog Friendly Parks in the Area";

    
    places.addEventListener("change", () =>{
        option = places.value;

        if(option == "friendly_parks"){
            place_chosen = "dog friendly parks";
            title_places.innerHTML = "Dog Friendly Parks in the Area";
        }
        else if(option == "dog_parks"){
            place_chosen = "dog parks";
            title_places.innerHTML = "Dog Parks in the Area";
        }
        else if(option == "trails"){
            place_chosen = "dog hiking trails";
            title_places.innerHTML = "Dog Friendly Trails in the Area";
        }
        findPlaces();
        
    });
    let center =  { lat:lat, lng: lng};
    async function initMap() {
        const { Map } = await google.maps.importLibrary("maps");
        map = new Map(document.getElementById('map'), {
            center: center,
            zoom: 11,
            mapId: 'DEMO_MAP_ID',
        });
        findPlaces();
    }
    async function findPlaces() {
        const { Place } = await google.maps.importLibrary("places");
        const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
        const request = {
            textQuery: place_chosen,
            fields: ['displayName', 'location', 'businessStatus'],
            locationBias: center,
            isOpenNow: true,
            language: 'en-US',
            maxResultCount: 8,
            minRating: 3.2,
            region: 'us',
            useStrictTypeFiltering: false,
        };
    //@ts-ignore
    const { places } = await Place.searchByText(request);
    if (places.length) {
        const { LatLngBounds } = await google.maps.importLibrary("core");
        const bounds = new LatLngBounds();
        // Loop through and get all the results.
places.forEach((place) => {
    const markerView = new AdvancedMarkerElement({
        map,
        position: place.location,
        title: place.displayName,
    });

    // Make marker clickable to open in Google Maps
    markerView.addListener("click", () => {
        const googleMapsUrl = `https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(place.displayName)}&query_place_id=${place.id}`;
        window.open(googleMapsUrl, "_blank");
    });

    bounds.extend(place.location);
});
map.fitBounds(bounds);

    }
    else {
        console.log('No results');
    }
}
initMap();
</script>

{% endblock %}
